params {
  fq_folder_path = null
  out_path = null
	dorado_exec_path = "/home/prom/dorado-0.5.1-linux-x64/bin/dorado"
	dorado_model_path = "/home/prom/dorado-0.5.1-linux-x64/models/"
  ref_mmi_path = "/data/Homo_sapiens.GRCh38.106_no_alt_chrs.mmi"
  bed_path = "/data/code/rep_exp_blast_finder/C9_rep_region.bed"
	blast_db_path = "/data/code/rep_exp_blast_finder/C9_rep_region_plus_5kb_flank_minus_expansion"
	meth_region_lb = 27573750 
	meth_region_ub = 27574000
  cpus = 10
}
